body {
    margin: 0;
    background-image: url("../img/mörkrymd.jpg");
}
header {
    display: flex;
    justify-content: space-between;
}
.readmore {
    border: solid gold 1px;
    border-radius: 10%;
}
p {
    color: gold;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}
p2 {
    color: gold;
    font-family: 'Roboto', sans-serif;
}
.paddingtop16px {
    padding-top: 16px;
}
.paddingtop50px {
    padding-top: 70px;
}
.padding16left {
    padding-left: 16px;
}
.padding16lright {
    padding-right: 16px;
}
.padding16px {
    padding: 16px;
}
.socialmedia {
    color: red;
    background-color: aqua;
}
.starwarslogga {
    height: 172px;
    width: 400px;
}
.links {
    display: flex;

    background-color: black;
}
.container {
    display: flex;
    flex-direction: column;
    height: 400px;
}
.width1000 {
    width: 1000px;
}
.width1100 {
    width: 1100px;
}
a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.size1 {
    flex-grow: 1;
}
.gold {
    color: gold;
}
.borderleft {
    border-left: solid 1px gold;
}
.borderright {
    border-right: solid 1px gold;
}
.borderbottom {
    border-color: white;
}
.links :hover {
    background-color: ;
}
.column {
    display: flex;
    flex-direction: column;
}
.iconfärg i {
    color: gold;
    font-size: 30px;
}
.rowcenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.columncenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.legobit {
    height: 32px;
    width: 45px;
}
.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.height1200 {
    height: 1000px;
}
h2 {
    color: gold;
    font-family: 'Roboto', sans-serif;
}
.artikeltext {
    font-size: 12px;
}
.row {
    display: flex;
    flex-direction: row;
}

.size2 {
    flex-grow: 2;
}

.box1 {
    flex-grow: 2;
}
.box2 {
    flex-grow: 1;
    background-color: black;
}
.margin16 {
    margin: 8px;
}
.paddingbottom {
    padding-bottom: 32px;
}
.iframe {
    width: 560px;
    height: 315px;
}
.displaynone {
    display: none;
}

.aqua {
    background-color: aqua;
}
.sprite {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-Starwars-logo {
    width: 400px;
    height: 172px;
    background-position: -5px -5px;
}

.sprite-lukepnganddarth {
    width: 1000px;
    height: 1039px;
    background-position: -1040px -5px;
}
h1 {
    color: gold;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 24px;
}

.sprite2 {
    background-image: url("../img/spritesheet_covers.png");
    background-repeat: no-repeat;
    display: block;
}
.sprite-Empire_strikes_back_300 {
    width: 300px;
    height: 450px;
    background-position: -5px -5px;
}

.sprite-The-Force-Awakens {
    width: 300px;
    height: 450px;
    background-position: -315px -5px;
}

.sprite-a_new_hope_300 {
    width: 300px;
    height: 450px;
    background-position: -5px -465px;
}

.sprite-attack_of_the_clones_300 {
    width: 300px;
    height: 450px;
    background-position: -315px -465px;
}

.sprite-return_of_the_jedi {
    width: 300px;
    height: 450px;
    background-position: -625px -5px;
}

.sprite-revenge_of_the_sith_300 {
    width: 300px;
    height: 450px;
    background-position: -625px -465px;
}
.columnmobil{
    display: flex;
}
.spacearound {
    justify-content: space-around;
}
.flexstart {
    display: flex;
    justify-content: flex-start;
}
.flexend {
    display: flex;
    justify-content: flex-end;
}
.castfoto {
    width: 300px;
}

@media screen
and (orientation: portrait)
and (max-device-width: 767px) {
    .starwarslogga {
        height: 34px;
        width: 80px;
    }
    .legobit {
        height: 16px;
        width: 23px;
    }
    .iconfärg i {
        color: gold;
        font-size: 15px;
    }
    a {
        font-size: 10px;
    }
    .columnmobil{
        display: flex;
        flex-direction: column;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 12px;
    }
    p {
        font-size: 12px;
    }
    .bild {
        width: 360px;
    }
    .iframe {
        width: 360px;
        height: 202px;
    }
    .backgroundimagenone {
        background-image: none;
        width: auto;
        height: auto;
    }
    .lukeanddarth {
        display: block;
        width: 360px;
    }
    .artikeltext {
        font-size: 8px;
    }
    .yodapicture {
        width: 100px;
        height: 142px;
    }
    .bookpiccy {
        height: 120px;
        width: 100px;
    }
    .bf2picture {
        width: 200px;
        height: 112px;
    }
    .container {
        height: 500px;
    }
    .mobilpaddingleft40 {
        padding-left: 40px;
    }
    .noborder {
        border: none;
    }
    .covers {
        width: 100px;
        height: 150px;
        display: block;
    }
    .sprite2 {
        background-image: none;
        width: auto;
        height: auto;
    }
    .mobildisplayblock {
        display: block;
    }
    .mobilwidth {
        width: 340px;
    }


}



@media screen
and (orientation: portrait)
and (max-device-width: 1025px)
and (min-device-width: 768px){

    .ipadrow {
        display: flex;
        flex-direction: row;
    }
    .ipadcolumn {
        display: flex;
        flex-direction: column;
    }
    .ipadaqua {
        background-color: aqua;
    }
    .ipadflexstart {
        display: flex;
        justify-content: flex-start;
    }
    .ipadpaddingleft24px {
        padding-left: 24px;
    }
    .ipaddisplay {
        display: block;
    }
    .ipaddisplaynone {
        display: none;
    }
    .lukeanddarth {
        display: block;
        width: 768px;
    }
    .sprite {
        background-image: none;
        width: auto;
        height: auto;
    }
    .container {
        height: auto;
    }
    .ipadwidth {
        width: 700px;
    }
    .artikeltext {
        font-size: 14px;
    }
    .ipadnoborder {
        border: none;
    }
    .ipadbordertop {
        border-top: solid 1px gold;
    }



}

/** Divar till JS-funktioner/-metoder **/
.efter {
    display: block;
    animation: downwards 0.5s 1;
}
.innan {
    display: none;
}
@keyframes downwards {
    0% {
        transform: translate3d(0, -50%, 0);
        visibility: visible;
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

