body {
    margin: 0;
    background-image: url("../img/mörkrymd.jpg");
}
h1 {
    font-size: 100px;
    color: white;
    font-family: Roboto;
}
header {
    display: flex;
    justify-content: space-between;
}
.paddingtop16px {
    padding-top: 16px;
}
.socialmedia {
    color: red;
    background-color: aqua;
}
.starwarslogga {
    height: 172px;
    width: 400px;
}
.links {
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding-left: 10%;

}
a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.column {
    display: flex;
    flex-direction: column;
}
.iconfärg i {
    color: gold;
    font-size: 30px;
}
.rowcenter {
    display: flex;
    justify-content: center;
}
.legobit {
    height: 32px;
    width: 45px;
}
.container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 80%;
    padding-left: 10%;
}
.row {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}
.box1 {
    flex-grow: 2;
    background-color: gold;
}
.box2 {
    flex-grow: 1;
    background-color: aliceblue;
}
.margin16 {
    margin: 8px;
}








@media screen
and (orientation: portrait)
and (max-device-width: 767px) {
    .links {
    }
    .starwarslogga {
        height: 34px;
        width: 80px;
    }
    .legobit {
        height: 16px;
        width: 23px;
    }
    .iconfärg i {
        color: gold;
        font-size: 15px;
    }
    a {
        font-size: 10px;
    }

}
@media screen
and (orientation: landscape)
and (max-device-width: 1023px) {

}
@media screen
and (max-device-width: 321px) {

}

