body {
    margin: 0;
    background-image: url("../img/mörkrymd.jpg");
}
h1 {
    font-size: 100px;
    color: white;
    font-family: Roboto;
}
header {
    display: flex;
    justify-content: space-between;
}
.paddingtop16px {
    padding-top: 16px;
}
.socialmedia {
    color: red;
    background-color: aqua;
}
.starwarslogga {

}
.links {
    display: flex;
    justify-content: space-around;
    background-color: rgba(200,200,200,0.5);

}
a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.column {
    display: flex;
    flex-direction: column;
}
.iconfärg i {
    color: yellow;
    font-size: 30px;
}
.rowcenter {
    display: flex;
    justify-content: center;
}









@media screen
and (orientation: portrait)
and (max-device-width: 767px) {
    .links {
        background-color: aqua;
    }

}
@media screen
and (orientation: landscape)
and (max-device-width: 1023px) {

}
@media screen
and (max-device-width: 321px) {

}

